@inherits StatiqRazorPage<IDocument>
@using Statiq.CodeAnalysis

@{
    var name = Model.GetString(CodeAnalysisKeys.Name);
    var summary = Model.GetString(CodeAnalysisKeys.Summary);
    var constructors = Model.GetDocumentList(CodeAnalysisKeys.Constructors)?
        .Where(x => x.GetBool(CodeAnalysisKeys.IsResult))
        .ToList();
    var methods = Model.GetDocumentList(CodeAnalysisKeys.Members)
        ?.Where(x => x.GetBool(CodeAnalysisKeys.IsResult) && x.GetString(CodeAnalysisKeys.Kind) == "Method")
        .OrderBy(x => x.GetString(CodeAnalysisKeys.DisplayName))
        .ToList();
}

<h1 class="mt-16 pt-12 border-t-2 border-sky-300 dark:border-sky-800"><span class="text-sky-800 dark:text-sky-400">@name</span> Reference</h1>
<p>@summary</p>

@if (constructors != null)
{
    <h3>Constructors</h3>
    @foreach (var constructor in constructors)
    {
        var constructorName = constructor.GetString(CodeAnalysisKeys.DisplayName);
        var constructorSummary = constructor.GetString(CodeAnalysisKeys.Summary);

        <div class="doc-summary">
            <header>
                <h3>@constructorName</h3>
                <p>@Html.Raw(constructorSummary.RemoveAnchorTags())</p>
            </header>
            @await Html.PartialAsync("Sections/_Parameters.cshtml", constructor)
        </div>
    }
}

@if (methods != null)
{
    <h3>Methods</h3>
    @foreach (var method in methods)
    {
        var methodName = method.GetString(CodeAnalysisKeys.DisplayName);
        var methodSummary = method.GetString(CodeAnalysisKeys.Summary);

        <div class="doc-summary">
            <header>
                <h3>@methodName</h3>
                <p>@Html.Raw(methodSummary.RemoveAnchorTags())</p>
            </header>
            @await Html.PartialAsync("Sections/_ReturnValue.cshtml", method)
            @await Html.PartialAsync("Sections/_TypeParameters.cshtml", method)
            @await Html.PartialAsync("Sections/_Parameters.cshtml", method)
        </div>
    }
}

@await Html.PartialAsync("Sections/_ExtensionMethods.cshtml", Model)
@await Html.PartialAsync("Sections/_Properties.cshtml", Model)